@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
*{
  margin: 0;
}
.App{
  background-color: #e7e7e6;
  height: 100%;
  width: 100%
}

.App h1{
  font-family: 'Rubik', sans-serif;
  font-weight: 600 !important;
  padding: 0.7rem 1rem;
}

.divs{
  display: flex;
  padding: 0 1rem 0 1rem;
}

.developer{
  text-align: center;
  padding: 1rem 0rem 1rem 0;
  font-family: 'Rubik', sans-serif;
  font-weight: 600 !important;
}

.devName{
  font-weight: 400;
}

@media screen and (max-width: 460px){
  .App h1{
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 420px){
  .divs{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  .App h1{
    font-size: 1.8rem;
    text-align: center;
  }
}

@media screen and (max-width: 389px){
  .App h1{
    font-size: 1.5rem;
  }
  .developer{
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 329px){
  .App h1{
    font-size: 1.4rem;
    text-align: left;
  }
}
@media screen and (max-width: 309px){
  .App h1{
    font-size: 1.4rem;
    text-align: left;
  }
  .developer{
    font-size: 1.2rem;
  }
}